@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

body {
  font-family: 'Dosis', 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
  background-color: #f1f1f1;
  font-size: 18px;
}

a { color: #333; }
a:hover { color: #000; }

.container {
  margin: 3rem auto;
  max-width: 992px;
  box-shadow: 0 0 10px 0px #ddd;
  background-color: #fff;
  border-radius: .5rem;
}

.container-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem .5rem;
  border-bottom: 1px solid #ddd;
}

.container-header h1 {
  margin: 0 0 .5rem 0;
}

.container-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem .5rem;
  border-bottom: 1px solid #ddd;
}
.container-nav > a {
  text-decoration: none;
  margin: .5rem 1rem;
}

.container-donut {
  background-color: #fff;
  min-height: 100px;
  overflow: auto;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.container-body { padding: 0 1.5rem 3rem; }

.control-group {
  display: flex;
  flex-wrap: wrap;
}
.control {
  display: inline-flex;
  align-items: center;
  margin-bottom: .5rem;
}
.control-vertical {
  flex-direction: column;
  align-items: start;
}
.control:not(:last-child) { margin-right: 1.5rem; }
.control-vertical label { margin-bottom: 1rem; }

footer {
  text-align: center;
  padding: 1rem;
}

.credit {
  margin-bottom: .5rem;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  margin: .5rem .5rem 0;
}

.note {
  margin-top: .5rem;
  padding: .5rem .75rem;
  font-size: .9rem;
  border-left: 5px solid deepskyblue;
}

label { margin-right: .75rem; }
input, select, textarea, button {
  background-color: inherit;
  border: 2px solid #d8d8d8;
  padding: .5rem;
  border-radius: 5px;
  display: inline-block;
}
input:invalid, select:invalid, textarea:invalid {
  box-shadow: 0 0 10px 2px tomato;
  z-index: 1;
}
input[type=color] {
  height: 2.5rem;
  padding: 0;
  border: none;
}
input.sm, select.sm { max-width: 5rem; }

button {
  display: inline-flex;
  align-items: center;
  padding: .75rem 1.5rem;
  cursor: pointer;
  transition: .1s all ease-in;
}
button.outline-green {
  border-color: #33995f;
  color: #33995f;
}
button.outline-green:hover {
  background-color: #33995f;
  color: #fff;
}
button.outline-red {
  border-color: #ff6666;
  color: #ff6666;
}
button.outline-red:hover {
  background-color: #ff6666;
  color: #fff;
}

.flex-grow-1 { flex-grow: 1; }
.flex-start { align-items: stretch; }
.flex-column { flex-direction: column; }
.w-100 { width: 100%; }
.big { font-size: 1.5em; }

@media (max-width: 768px) {
  .container { margin: 0 auto; }
  .container-header { font-size: 1.125rem; }
}
@media (max-width: 850px) {
  .donut-sections .control-group { flex-direction: column; }
}
@media (min-width: 768px) and (min-height: 500px) {
  .container-donut {
    position: sticky;
    top: 0;
    max-height: 300px;
  }
}
